{% extends "layout.html" %}

{% block title %}K139 - Single Nid{% endblock %}

{% block content %}
<div class="container">
    <h3>Get Single Nid</h3>
    <hr>
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        {% if form.username.errors %}
        <div class="alert alert-danger" role="alert">
            {{form.username.errors.0}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        {% if form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{form.password.errors.0}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        
        <div class="form-group">
            {{ form.nid.label_tag }}
            {{ form.nid }}  
        </div>
        {% if form.nid.errors %}
        <div class="alert alert-danger" role="alert">
            {{form.nid.errors.0}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <button type="submit" class="btn btn-primary" id="btn">Submit</button>
    </form>
    <hr>
    {% if result %}
    <div class="card border-dark">
        <div class="card-header">Result</div>
        <div class="card-body">
            {% for k, v in result.items %}
            <p>{{ k }}:{{ v }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}