{% extends "layout.html" %}

{% block title %}Multi{% endblock %}

{% block content %}
<div class="container">
    <h3>多筆資料查詢</h3>
    <hr>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}

        {# 判斷是否有錯誤訊息，若無則為正常輸入框 #}
        {% if messages %}
            {% for message in messages %}
                {# 判斷訊息種類 #}
                {% if message.tags == 'all error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group">
                    <label for="singleUsername">帳號</label>
                    <input type="text" class="form-control is-invalid" id="singleUsername" aria-describedby="usernameHelp"
                        placeholder="Enter Username" name="username">
                    <div class="invalid-feedback">
                        {{ message }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="singlePassword">密碼</label>
                    <input type="password" class="form-control" id="singlePassword" aria-describedby="passwordHelp"
                        placeholder="Enter Password" name="password">
                </div>
                {% endif %}
                {% if message.tags == 'user error' %}
                <div class="form-group">
                    <label for="singleUsername">帳號</label>
                    <input type="text" class="form-control is-invalid" id="singleUsername" aria-describedby="usernameHelp"
                        placeholder="Enter Username" name="username">
                    <div class="invalid-feedback">
                        {{ message }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="singlePassword">密碼</label>
                    <input type="password" class="form-control is-invalid" id="singlePassword" aria-describedby="passwordHelp"
                        placeholder="Enter Password" name="password">
                    <div class="invalid-feedback">
                        {{ message }}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="form-group">
                <label for="singleUsername">帳號</label>
                <input type="text" class="form-control" id="singleUsername" aria-describedby="usernameHelp"
                    placeholder="Enter Username" name="username">
                <small id="usernameHelp" class="form-text text-muted">請輸入您的 NID 帳號</small>
            </div>
            <div class="form-group">
                <label for="singlePassword">密碼</label>
                <input type="password" class="form-control" id="singlePassword" aria-describedby="passwordHelp"
                    placeholder="Enter Password" name="password">
                <small id="passwordHelp" class="form-text text-muted">請輸入您的 NID 密碼</small>
            </div>
        {% endif %}


        <label for="file">上傳檔案</label>
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="file" name="file" aria-describedby="fileHelp">
                <label class="custom-file-label" for="file">Choose file</label>
            </div>
        </div>
        <small id="fileHelp" class="form-text text-muted">請選擇上傳檔案(只限 <code>.xlsx</code>)</small>
        <br>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="multiCheck" name="check" aria-describedby="checkHelp">
            <label class="form-check-label" for="multiCheck">是否將資料儲存至資料庫</label>
            <small id="checkHelp" class="form-text text-muted">若將資料儲存置資料庫則可以至圖表頁面檢視</small>
        </div>
        <div class="form-group">
            <label for="multiName">名稱</label>
            <input type="text" class="form-control" id="multiName" aria-describedby="nameHelp" placeholder="Enter Name"
                name="name">
            <small id="nameHelp"
                class="form-text text-muted">儲存至資料庫名稱(若不儲存可不填)</small>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
{% block js %}
<!--在input裡顯示檔案名稱-->
<script type="text/javascript">
    $('#file').change(function (e) {
        $(this).next('.custom-file-label').html(e.target.files[0].name);
    });
</script>
{% endblock %}