{% extends "layout.html" %}

{% block title %}Single{% endblock %}

{% block content %}
<div class="container">
    <h3>單一查詢</h3>
    <hr>
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="singleUsername">帳號</label>
            <input type="text" class="form-control" id="singleUsername" aria-describedby="usernameHelp"
                placeholder="Enter Username">
            <small id="usernameHelp" class="form-text text-muted">請輸入您的 NID 帳號</small>
        </div>

        <div class="form-group">
            <label for="singlePassword">密碼</label>
            <input type="text" class="form-control" id="singlePassword" aria-describedby="passwordHelp"
                placeholder="Enter Password">
            <small id="passwordHelp" class="form-text text-muted">請輸入您的 NID 密碼</small>
        </div>

        <div class="form-group">
            <label for="singleNid">欲查詢學號</label>
            <input type="text" class="form-control" id="singleNid" placeholder="Enter Search NID">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}