{% extends "layout.html" %}

{% block head %}

<script src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

{% endblock %}

{% block body %}

<div class="container">
    <!--最上方按鈕-->
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            社課總人數
        </button>
        {% for c in all_course_name %}
        <button class="btn btn-primary" type="button" data-toggle="collapse"
            data-target="#collapseCourse-{{ loop.index }}" aria-expanded="false"
            aria-controls="collapseCourse-{{ loop.index }}">
            {{ c }}
        </button>
        {% endfor %}
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card border-dark">
            <div class="card-body">
                {{ all_course_charts }}
            </div>
        </div>
    </div>

    <!--詳細資料按鈕-->
    {% for i in all_course_name %}
    <div class="collapse" id="collapseCourse-{{ loop.index }}">
        <p>
            <button class="btn btn-info" type="button" data-toggle="collapse"
                data-target="#collapseSex-{{ loop.index }}" aria-expanded="false"
                aria-controls="collapseSex-{{ loop.index }}">{{ i }}-男女人數</button>
            <button class="btn btn-info" type="button" data-toggle="collapse"
                data-target="#collapseDepartment-{{ loop.index }}" aria-expanded="false"
                aria-controls="collapseDepartment-{{ loop.index }}">{{ i }}-各系人數</button>
            <button class="btn btn-info" type="button" data-toggle="collapse"
                data-target="#collapseLevel-{{ loop.index }}" aria-expanded="false"
                aria-controls="collapseLevel-{{ loop.index }}">{{ i }}-各年級人數</button>
            <button class="btn btn-info" type="button" data-toggle="collapse"
                data-target="#collapseCollege-{{ loop.index }}" aria-expanded="false"
                aria-controls="collapseCollege-{{ loop.index }}">{{ i }}-各學院人數</button>
            <button class="btn btn-info" type="button" data-toggle="collapse"
                data-target="#collapseDetail-{{ loop.index }}" aria-expanded="false"
                aria-controls="collapseDetail-{{ loop.index }}">{{ i }}-詳細資料</button>
        </p>
        <!--男女人數-->
        <div class="collapse" id="collapseSex-{{ loop.index }}">
            <div class="card border-dark">
                <div class="card-header">
                    {{ i }} - 男女人數
                </div>
                <div class="card-body">
                    {{ sex_number_charts[loop.index-1] }}
                </div>
            </div>
        </div>
        <!--各系人數-->
        <div class="collapse" id="collapseDepartment-{{ loop.index }}">
            <div class="card border-dark">
                <div class="card-header">
                    {{ i }} - 各系人數
                </div>
                <div class="card-body">
                    {{ department_number_charts[loop.index-1] }}
                </div>
            </div>
        </div>
        <!--各年級人數-->
        <div class="collapse" id="collapseLevel-{{ loop.index }}">
            <div class="card border-dark">
                <div class="card-header">
                    {{ i }} - 各年級人數
                </div>
                <div class="card-body">
                    {{ level_number_charts[loop.index-1] }}
                </div>
            </div>
        </div>
        <!--各學院人數-->
        <div class="collapse" id="collapseCollege-{{ loop.index }}">
            <div class="card border-dark">
                <div class="card-header">
                    {{ i }} - 各學院人數
                </div>
                <div class="card-body">
                    <p>各學院人數{{ i }}</p>
                </div>
            </div>
        </div>
        <!--詳細資料-->
        <div class="collapse" id="collapseDetail-{{ loop.index }}">
            <div class="card border-dark">
                <div class="card-header">
                    {{ i }} - 詳細資料
                </div>
                <div class="card-body">
                    {% for item in all_course_detail[loop.index-1] %}
                    <p>{{ item.nid }}</p>
                    <p>{{ item.name }}</p>
                    <p>{{ item.department }}</p>
                    <p>{{ item.sex }}</p>
                    <p>{{ item.birthday }}</p>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}