{% extends "layout.html" %}

{% block head %}

<script src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

{% endblock %}

{% block body %}

<div class="container">
    <!--最上方按鈕-->
    <p>
        {% for c in all_course %}
        <button class="btn btn-primary" type="button" data-toggle="collapse"
            data-target="#collapseDetail-{{ loop.index }}" aria-expanded="false"
            aria-controls="collapseDetail-{{ loop.index }}">
            {{ c.name }}
        </button>
        {% endfor %}
    </p>
    {% for i in all_course %}
    <div class="collapse" id="collapseDetail-{{ loop.index }}">
        <div class="card border-dark">
            <div class="card-header">
                <form method="POST" enctype="multipart/form-data" class="form">
                    <div class="form-row">
                        <div class="col-3">
                            <input type="text" class="form-control" value="{{ i.name }} - 詳細資料" readonly>
                        </div>
                        <div class="col-8">
                            <input type="hidden" class="form-control" name="course-id" value="{{ i.id }}" readonly>
                        </div>
                        <div class="col">
                            <input class="btn btn-outline-danger" id="btn-course-{{ i.id }}" type="submit" value="刪除">
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                {% for item in all_course_detail[loop.index-1] %}
                <form method="POST" enctype="multipart/form-data" class="form">
                    <div class="form-group row">
                        <label for="id-{{ loop.index-1 }}" class="col-sm-2 col-form-label">ID</label>
                        <div class="col-sm-10">
                            <input type="text" name="student-id" readonly class="form-control-plaintext"
                                id="id-{{ loop.index-1 }}" value="{{ item.id }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="nid-{{ loop.index-1 }}" class="col-sm-2 col-form-label">NID</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="nid-{{ loop.index-1 }}"
                                value="{{ item.nid }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name-{{ loop.index-1 }}" class="col-sm-2 col-form-label">姓名</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="name-{{ loop.index-1 }}"
                                value="{{ item.name }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="department-{{ loop.index-1 }}" class="col-sm-2 col-form-label">系級</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext"
                                id="department-{{ loop.index-1 }}" value="{{ item.department }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sex-{{ loop.index-1 }}" class="col-sm-2 col-form-label">性別</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="sex-{{ loop.index-1 }}"
                                value="{{ item.sex }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="birthday-{{ loop.index-1 }}" class="col-sm-2 col-form-label">出生年月日</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="birthday-{{ loop.index-1 }}"
                                value="{{ item.birthday }}" readonly>
                        </div>
                    </div>
                    <input class="btn btn-outline-danger" id="btn-student-{{ item.id }}" type="submit" value="刪除">
                </form>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}